body{
    background-color: #0f436a;
}
#caja-con-opacity, #caja-sin-opacity{
    width: 960px;
    height: 560px;
}
#caja-sin-opacity{
    position: absolute;
}
#caja-con-opacity{
    background-image: url(../imgs/faro.jpg);
    background-size: cover;
    opacity: .6;
}