@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Raleway, sans-serif;
    font-weight: 300;
    color: #707070;
}
#gradiente{
    background: rgb(215,143,183);
    background: linear-gradient(90deg, rgba(215,143,183,1) 0%, rgba(201,185,241,1) 100%);
    padding-bottom: 50px;
}
    header{
        width: 1100px;
        height: 100px;
        margin: auto; /* centrar una caja */

        display: flex;
        justify-content: space-between; /* separar elementos */

        align-items: center;
    }
        header a{
            color: #fff;
            font-weight: 600;
            font-size: 18px;
            text-decoration: none;
        }
        header a img{
            width: 56px;
            vertical-align: middle;
            margin-right: 8px;
        }
        header nav a{
            padding: 14px;
        }

    #gradiente h1{
        width: 1100px;
        margin: auto;
        color: white;
        /*padding-top: 2em;
        text-indent:2.5em;*/
        padding: 40px 0 0 70px;
        font-size: 30px;
        /*margin-left: 280px;*/
    }

    #heroIndex{
        width: 1100px;
        margin: auto;
        display: flex;
        align-items: center;
    }
    #heroIndex article{
        width: 630px;
    }
    #heroIndex img{
        margin-left: 96px;
    }
    #heroIndex h1{
        margin-bottom: 24px;
        padding: 0px;
    }
    #heroIndex p{
        color: #fff;
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 64px;
    }
    #heroIndex div{
        display: flex;
        justify-content: center;
    }
    #heroIndex a{
        text-decoration: none;
        color: #fff;
        border: 1px solid #fff;
        padding: 16px 40px;
        margin: 0 30px;
        display: inline-block;
        width: 200px;
        border-radius: 40px;
        transition: .3s;
    }
    #heroIndex a:hover{
        background-color: #fff;
        color: #D78FB7;
    }
    .fa-apple{
        font-size: 24px;
    }

/* MAIN */
main{
    min-height: 600px;
    padding-bottom: 88px;
}

    /* sección nosotros */
    /* sección nosotros */
    #nosotros{
        width: 1100px;
        margin: auto;

        display: flex;
        flex-wrap: wrap; /* respeta los anchos y hace el corte de contenido */
        justify-content: space-between;
        margin-top: 70px;
        
    }
    #nosotros img{
        width: 245px;
    }

    /* sección Features */
    /* sección Features */
    #nuestraApp{
        width: 1100px;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 100px;
    }
    #nuestraApp article{
        width: 572px;
    }
    h2{
        font-size: 18px;
        font-weight: 600;
        padding-bottom: 16px;
    }
    #nuestraApp p{
        line-height: 24px;
    }

    #features{
        width: 1100px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;

        justify-content: space-between;
    }
    #features article{
        width: 326px;
        margin-top: 42px;
    }

    #features h2 img{
        vertical-align: middle;
        margin-right: 8px;
    }

/* FOOTER */
#divFooter{
    background-color: #262626;
}
footer{
    height: 150px;
    width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    footer a{
        text-decoration: none;
        color: #fff;
    }
    /* logo en el footer */
    #logoFooter{
        width: 32px;
        vertical-align: middle;
        margin-right: 8px;
    }
    footer nav a img{
        width: 20px;
        margin: 8px;
    }