*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
nav{
    margin: 20px 5px;
}
#caja1, #caja2, #caja3, #caja4{
    height: 450px;
    margin: 10px 0px;
}
#caja1{
    background-color: #7dd38e;
}
#caja2{
    background-color: #7dcfd3;
}
#caja3{
    background-color: #7d80d3;
}
#caja4{
    background-color: #bb7dd3;
}